@media screen and (max-width: 900px) {
    .poke-row{
        flex-direction: column;
        align-items: center;
        justify-content: start !important;
        height: 800px !important;
    }

    .pokemon-imgDiv{
        flex-direction: column;
        justify-content: center !important;
        padding: 0px !important;
        width: 100% !important;
    }

    .pokemon-descriptDiv{
        width: fit-content!important;
    }

    .fullView-div{
        display: none;
    }

    .heart-icon{
        right: 3% !important;
        top: 35%;
    }


}

.poke-row{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 516px;
}

.pokemon-imgDiv{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: var(--back-photoCard-color);
    padding-right: 60px;
}


.pokemon-descriptDiv{
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
    height: 100%;
    background-color: var(--back-detailsCard-color);
    padding-left: 60px;
}

.pokemon-descriptDiv > h1{
    text-transform: capitalize;
}

.description-div{
    display: flex;
    font-weight: bold;
    gap: 15%;
}

.details-div{
    width: 50%;
}
.fullView-div{
    width: 50%;
}

.fullViewImg{
    width: 30%;
    height: 30%;
}

span{
    font-weight: normal;
}

.namePokemon,.switch-des-div{
    padding-left: 60px;
}

.pokemon-descriptDiv-Switch{
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
    height: 100%;
    background-color: var(--back-detailsCard-color);
    padding-right: 60px;
}

.pokemon-descriptDiv-Switch > h1{
    text-transform: capitalize;
}

.pokemon-imgDiv-Switch{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: var(--back-photoCard-color);
    padding-left: 60px;
}

.heart-icon{
    position: absolute;
    right: 50%;
    padding: 5px 5px;
}


.heart-icon-switch{
    position: absolute;
    left: 50%;
    padding: 5px 5px;
}

#pokemonImg{
    width: 300px;
    height: 300px;
}

.types{
    display: flex;
    align-items: center;
}
