body{
    margin: 0px;
    font-family: 'Inika';
}

footer > div {
    background-color: #C8021F;
    width: 100%;
    height: 10vh;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sofa-power{
    color: whitesmoke;
    font-size: smaller;
}

#sofa{
    color: #2C3EC4;
    font: bold;
}

#backPhoto{
    height: 20vh;
    width: 100%;  
}

.appName{
    text-transform: uppercase;
    width: 60%;
    font-size: 60px;
    margin: 5px 0px;
    text-shadow: 2px 2px gray;
}

.quizName{
    font-size: 40px;
    margin: 5px 0px;
    margin-right: 50px;
}

#quiz-word{
    color: #C8021F;
}

#logo-icon{
    width: auto;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20vh 0px;
}


.descript{
    width: 70%;
    font-size: large;
}

.btn{
    width: 200px;
    padding: 10px 0px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 20px 15px;
    font-size: medium;
}

.lgn{
    background-color: #C8021F;
    font-weight: bold;
    color: white;
    margin-left: 0px;
}

.lgn:hover{
    background-color: #8E0217;
}

.anonim:hover{
    background-color: darkgrey;
}
